<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" >Employee Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="h">Home</a>
          <a class="nav-link active" aria-current="page" href="deg">Designation</a>
          <a class="nav-link active" aria-current="page" href="emp">Employee</a>
          <a class="nav-link active" aria-current="page" href="lev">Leave Details</a>
          <a class="nav-link active" aria-current="page" href="time">Time Management</a>
        
          <button class="btn btn-danger" (click)="logOut()">Log Out </button>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <h2>
    <b>
        <p class="text-center"  style="font-family:Times New Roman">
      EMPLOYEE MANAGEMENT SYSTEM
    
    </p>
  </b>
</h2>
  <br>
  <body>
    <div [ngStyle]="{backgroundImage:'url(../assets/images/image2.jpg)'}" >
    </div>
  </body>

</div>

  
